<h1>Übersicht aller Dienste</h1>

<ul>
  <% @services.each do |service| %>
    <li><%= link_to "#{ service.name } (#{ service.short })", service %></li>
  <% end %>
</ul>

<%= link_to "Neuen Dienst erstellen", new_service_path %>
